  <div class="row">
    <!-- left div of content box -->
    <div class="large-8 columns content-box">
      <div class="box1">
          {{test}}
      </div> 
    </div> 
    <!-- end of left div of content box -->

    <!-- right content box divs -->
    <div class="large-4 columns content-box">
      <div class="box4">
        Admin
      </div> 
      <div class="box2">
        Admin
      </div> 
    </div>
    <!-- end of right content box divs -->

    <!-- bottom div -->
    <div class="large-12 columns content-box">
      <div class="box5">

      </div>
    </div>
    <!-- end of bottom div -->

  </div> <!-- end of main row -->