<input type = "text" ng-model="hostname" />
<input type = "text" ng-model="username" />
<input type = "text" ng-model="password" />
<input type = "text" ng-model="port" />

<button ng-click="getDatabases();">Get Databases</button>


<dropdown array="databases" ></dropdown>


<button ng-click="getTables();">Get Databases</button>

<input type="radio" id="labelattr" name="selectedval" value="Label" />
<input type="radio" id="quantityattr" name="selectedval" value="Quantity" />

Label:
<input type="text" ng-model="table_1" disabled />
<input type="text" ng-model="column_1" disabled />

Quantity
<input type="text" ng-model="table_2" disabled />
<input type="text" ng-model="column_2" disabled />

<button ng-click="showBarChart();">Bar Chart</button>

<bar-chart data="data"></bar-chart>